@{
    ViewBag.Title = "Saving Plastic";
}
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" data-interval="3000">
            <div class="carousel-caption d-none d-md-block">
                <h5>Servicio</h5>
                <p></p>
            </div>
            <img src="~/Content/Images/C1.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-interval="3000">
            <img src="~/Content/Images/C2.jpeg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Servicio de Lavado</h5>
                <p></p>
            </div>
        </div>
        <div class="carousel-item" data-interval="3000">
            <img src="~/Content/Images/C3.jpeg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Tarimas</h5>
                <p></p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br />
<div class="row">
    <div class="col text-center">
        <h2 style="color:black">Productos y Servicios</h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="col">
            <ul class="grid cs-style-3">
                <li>
                    <figure class="itemi zoom-effect">
                        <img src="~/Content/Images/P12.jpeg" alt="img02" class="rounded" width="400px" height="300px">
                        <figcaption>
                            <h3>Tapas</h3>
                            <a href="#"> Ver Catalogo <i class="fas fa-search fa-lg"></i></a>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="~/Content/Images/P6.jpeg" alt="img02" class="rounded" width="400px" height="300px">
                        <figcaption>
                            <h4>Contenedores</h4>
                            <a href="#"> Ver Catalogo <i class="fas fa-search fa-lg"></i></a>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="~/Content/Images/P3.jpeg" alt="img02" class="rounded" width="400px" height="300px">
                        <figcaption>
                            <h3>Tarimas</h3>
                            <a href="#"> Ver Catalogo <i class="fas fa-search fa-lg"></i></a>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="~/Content/Images/P4.jpeg" alt="img02" class="rounded" width="400px" height="300px">
                        <figcaption>
                            <h4>Placas de Identificación Ind.</h4>
                            <a href="#"><i class="fas fa-search fa-lg"></i></a>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="~/Content/Images/P5.jpeg" alt="img02" class="rounded" width="400px" height="300px">
                        <figcaption>
                            <h3>Servicios de Lavado</h3>
                            <a href="#"><i class="fas fa-search fa-lg"></i></a>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="~/Content/Images/P9.jpeg" alt="img02" class="rounded" width="400px" height="300px">
                        <figcaption>
                            <h4 class="text-break">Reparaciones de Contenedores y Tapas</h4>
                            <a href="#"><i class="fas fa-search fa-lg"></i></a>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="col">
            <h4 class="text-center font-weight-bold" style="color:black">
                Productos para la industria y en especial nuestro servicio de reciclaje en su empresa tomándolo a cuenta en sus proyectos.
            </h4>
        </div>
    </div>
    <div class="col-12">
        <div class="col">
            <hr />
        </div>
    </div>
</div>
<br />
<div class="row" style="color:black">
    <div class="col-sm-1"></div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <img src="~/Content/Images/T1.jpg" class="card-img-top rounded" alt="..." width="400px" height="300px">
                <br />
                <p class="card-text text-justify"> Modificamos Contenedores a la medida de sus necesidades.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <img src="~/Content/Images/T2.jpg" class="card-img-top rounded" alt="..." width="400px" height="300px">
                <br />
                <p class="card-text text-justify"> Nos ajustamos a su Presupuesto.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <img src="~/Content/Images/T3.jpg" class="card-img-top rounded" alt="..." width="400px" height="300px">
                <br />
                <p class="card-text text-justify"> No aceptamos un No como respuesta. Buscaremos una solución a sus necesidades.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
<br />
<br />
@*<div id="carouselExampleFade" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" data-interval="4000">
            <img src="~/Content/Images/image1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </div>
        <div class="carousel-item" data-interval="2000">
            <img src="~/Content/Images/image2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="carousel-item" data-interval="2000">
            <img src="~/Content/Images/image3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="carousel-item" data-interval="2000">
            <img src="~/Content/Images/image4.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="carousel-item" data-interval="2000">
            <img src="~/Content/Images/image5.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>*@